<div class="jumbotron">
  <div class="container text-center">
    <h1>Reserve your flight!</h1>
    <p>Baalu is a platform where users can search and make bookings for their local and international flights.</p>
    <div class="row">
      <%= render partial: 'search_form' %>
  </div><!-- /.row -->
  </div>
</div>
