<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Passenger Details <button class="btn btn-default pull-right btn-xs"><span class="glyphicon glyphicon-edit"></span></button></div>
  <div class="panel-body">
    <p>Here is a short description of the flight</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><h4 class="capitalize">Booking ID<span class="pull-right">5436awef7645</span></h4></li>
    <li class="list-group-item"><h4 class="capitalize">Full Name<span class="pull-right">Senjobi Oluwafemi</span></h4></li>
    <li class="list-group-item"><h4 class="capitalize">Email<span class="pull-right">femi.senjobi@andela.com</span></h4></li>
    <li class="list-group-item"><h4 class="capitalize">Phone Number<span class="pull-right">08053562404</span></h4></li>
  </ul>
</div>
